@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Customers</h1> @Html.ActionLink("Add Customer", "Create")

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Phone</th>
            <th>Survey</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CustomerName</td>
                <td>@customer.CustomerEmail</td>
                <td>@customer.CustomerGender</td>
                <td>@customer.CustomerDOB</td>
                <td>@customer.CustomerPhone</td>
                <td>@customer.CustomerSurvey</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=customer.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=customer.CustomerID },new{onclick="return confirm('Are you sure you want to delete this customer?')"})
                </td>
            </tr>
        }  
    </tbody>
</table>

